<p>profile works!</p>
<p>{{ user?.display_name }}</p>

<div>
    <label for="primaryLanguage">Primary Language:</label>
    <select name="primaryLanguage" id="primaryLanguage">
        <option value="English">English</option>
        <option value="Spanish">Spanish</option>
        <option value="chinese">Chinese</option>
        <option value="French">French</option>
        <option value="Italian">Italian</option>
    </select>
</div>
<div>
    <label for="learning">Language I want to learn:</label>
    <select name="learning" id="learning">
        <option value="English">English</option>
        <option value="Spanish">Spanish</option>
        <option value="chinese">Chinese</option>
        <option value="French">French</option>
        <option value="Italian">Italian</option>
    </select>
</div>