<mat-toolbar class="header-toolbar">
    <!-- Logo Section -->
    <div class="logo">
      <img id="logo" src="../../../assets/tuneLingualLogo.png" alt="TuneLingual Logo" />
    </div>
  
    <!-- Search Input Section -->
    <div class="search">
      <input
        type="search"
        class="search-input"
        placeholder="Search..."
        [(ngModel)]="query"
        (keyup.enter)="sendSearch()"
        aria-label="Search"
      />
    </div>
  
    <!-- Profile Section -->
    <div class="profile">
      <img id="profile-pic" src="" alt="Profile picture" />
    </div>
  </mat-toolbar>  