mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    /* background-color: black;
    color: white; */
}

.trackInfo {
    width: auto;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.playbackButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.trackTime {
    width: 300px;
}