.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 25px;
  }

  .topArtists {
    margin-top: 25px;
  }

  html, body {
    height: 100%;
    margin: 0; /* Remove any default margins */
}

.wholePage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidenav-container {
    flex: 1; /* Allow the container to take up remaining height */
    display: flex;
    flex-direction: row;
}

mat-sidenav {
    width: 200px;
    border: 3px solid red;
}

mat-sidenav-content {
    flex: 1; /* Make content fill the available space */
    padding: 16px;
    border: 3px solid blue;
}

#topToolBar {
    border: 2px solid green;
}

#playback {
    border: 2px solid orange;
}

.mat-list-item {
    display: flex; /* Ensures proper alignment of icon and text */
    align-items: center; /* Vertically align items */
}

.mat-list-item .icon {
    margin-right: 8px; /* Adds space between the icon and the text */
    font-size: 24px; /* Adjust the icon size if necessary */
    color: currentColor; /* Matches the text color */
}
