<h4>Browse by Language</h4>
<app-category-card
[categoryImage]="''"
[category]="'spanish'"
[playlistName]="''">Spanish</app-category-card>
<app-category-card
categoryImage=""
[category]="'chinese'"
[playlistName]="''">Chinese</app-category-card>
<app-category-card
[categoryImage]="''"
[category]="'french'"
[playlistName]="''">French</app-category-card>
<app-category-card
categoryImage=""
[category]="'italian'"
playlistName="''">Italian</app-category-card>
<app-category-card
[categoryImage]="''"
[category]="'hindi'"
[playlistName]="''">Hindi</app-category-card>
<app-category-card
categoryImage=""
[category]="'russian'"
[playlistName]="''">Russian</app-category-card>